html, body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    background-color: white;
}

.header {
    height: 400px;
    background-image: url("images/newbackground.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header h1 {
    font-size: 100px;
}

.header h2 {
    font-size: 50px;
}

.feature {
    background-color: white;
    padding: 10px;
}

.image {
    background-color: white;
    padding: 10px;
}

.hide {
    display: block;
}

.show {
    display: none;
}

#footer {
    background-color: beige;
    color: black;
    font-size: 15px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.row .col img {
    width: 100%;
}

.container-color {
    background-color: white;
}

.btn-color {
    background-color: white;
}

.team-col {
    padding: 10px;
}

.nav-color {
    background-color: white;
}

@media(min-width: 767px) {
    .feature {
        background-color: white;
        padding: 10px;
    }
    
    .image {
        background-color: white;
        padding: 10px;
    }
}
@media(min-width: 992px) {
    .feature {
        background-color: white;
        padding: 10px;
    }
    
    .image {
        background-color: white;
        padding: 10px;
    }
}